* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    /* width: 1024px; */
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    flex-direction: column;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 900;
    background-color: #3882F6;
    color: #E5E7EB;
    width: 124px;
    height: 38px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.bg-dark {
    background-color: #1F2937;
}

.bg-quote {
    background-color: #E5E7EB;
}

.container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    width: 60%;
    padding: 0 20%;
    gap: 8px;
}

.hero, .gallery, .quotation, .sign-up {
    padding: 4% 0;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 0;
}

.nav-menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 16px 0;
}

.nobullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 16px;
}

.h-title {
    font-weight: 900;
    font-size: 48px;
}

.light {
    color: #E5E7EB;
}

.dark {
    color: #1F2937;
}

.text {
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 1.5rem;
}

.center {
    text-align: center;
}

.left-section {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
}

.right-section {
    display: flex;
    flex: 0 1 auto;
}

.preview {
    background-color: #74728a;
    color: #F9FAF8;
    display: flex;
    flex: 1 1 auto;
    min-width: 600px;
    min-height: 260px;
    justify-content: center;
    align-items: center;
}

.g-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
}

.card {
    max-width: 192px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
}

.card-grid {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 32px 96px;
}

.images {
    border-radius: 16px;
    border: #3882F6 solid;
    width: 192px;
    height: 192px;
}

.quote, .source {
    padding: 0 9% 0 9%;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 16px;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
}

.quote-format {
    flex-direction: column;
    width: 100%;
    padding: 32px 96px;
}

.source {
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;
}

.notice {
    font-weight: 900;
    font-size: 24px;
}

.blue-box {
    width: 100%;
    padding: 48px 128px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-2 {
    border: #E5E7EB solid 2px;
}

.footer {
    color: #F9FAF8;
    padding: 16px;
}