* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    /* width: 1024px; */
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    flex-direction: column;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 6px 24px;
    border-radius: 6px;
    font-weight: 900;
    background-color: #3882F6;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.bg-dark {
    background-color: #1F2937;
}

.bg-quote {
    background-color: #E5E7EB;
}

.container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
}

.nav-menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 16px;
}

.nobullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 16px;
}

.h-title {
    font-weight: 900;
    font-size: 48px;
}

.light {
    color: #E5E7EB;
}

.left-section {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.right-section {
    display: flex;
    flex: 0 1 auto;
}

.preview {
    background-color: #74728a;
    width: 500px;
    height: 240px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    color: #1F2937;
}

.g-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.card {
    max-width: 200px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.images {
    border-radius: 16px;
    border: #3882F6 solid;
    width: 200px;
    height: 200px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.reference {
    font-size: 16px;
    font-weight: 900;
}

.header-button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.section-three {
    background-color: #3882F6;
    color: #F9FAF8;
}

.notice-main {
    font-weight: 900;
    font-size: 16px;
}

.notice-secondary {
    font-weight: 100;
    font-size: 8px;
}

.notice-button {
    border: #F9FAF8 solid;
}

.footer {
    color: #F9FAF8;
}